<head>
  <title>FairVote</title>
</head>

<body>
  <div class="container-fluid">
    {{> header accounts=accounts currentEthAccount=currentEthAccount}}
    {{> notifications}}

    {{#if currentEthAccount}}
      {{> createpoll}}
      {{> existingpolls polls=polls}}

      {{> vote}}
      {{> viewvotes}}
    {{else}}
      {{> selectethaccount}}
    {{/if}}
  </div>
</body>

<template name="header">
  <div class="row header">
    <div class="col-lg-12">
      <div class="logo">
        <img src="/images/fairvote.svg" height="24px">
      </div>
      <div class="eth-accounts">
        <select class="select-eth-account">
          <option value="" disabled selected>Select ethereum account</option>
          {{#each accounts}}
            <!--{{#if currentEthAccount}}
            <option selected>{{address}}</option>
            {{else}}-->
            <option>{{address}}</option>
            <!--{{/if}}-->
          {{/each}}
        </select>
      </div>
    </div>
  </div>
</template>

<template name="selectethaccount">
  <div class="section select-eth-account-section">
    <div class="">
        <div class="section-title">
          <h1>Select an Ethereum Account</h1>
        </div>
        <div class="section-body">
            <h3>Please select an Ethereum account to begin.</h3>
        </div>
    </div>
  </div>
</template>