<head>
  <title>FairVote</title>
</head>

<body>
  <div class="container-fluid">
    {{> header accounts=accounts currentEthAccount=currentEthAccount latestEthBlock=latestEthBlock}}
    {{> notifications}}

    {{#if currentEthAccount}}
      {{> createpoll}}
      {{> existingpolls polls=polls}}
      
      {{> vote}}
      {{> viewvotes}}
    {{else}}
      {{> selectethaccount}}
    {{/if}}
  </div>
</body>

<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <a class="logo" href="#"><img src="/images/fairvote.svg" height="24px"/></a>
     <div>
      <ul class="nav navbar-nav navbar-left">
        <li>
          <div class="nav-item">
            <div class="block-count">Latest block: {{latestEthBlock.number}}</div>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if currentEthAccount}}
        <li>
          <div class="nav-item eth-accounts">
            <select class="select-eth-account form-control">
              <option value="" disabled>Select ethereum account</option>
              {{#each accounts}}
                <option>{{address}}</option>
              {{/each}}
            </select>
          </div>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</template>

<template name="selectethaccount">
  <div class="section select-eth-account-section">
    <div class="">
        <div class="section-title">
          <h1>Create an Ethereum Account</h1>
        </div>
        <div class="section-body">
            <h3>Please create an Ethereum account to continue.</h3>
        </div>
    </div>
  </div>
</template>