<head>
  <title>FairVote</title>
</head>

<body>
  <div class="container-fluid">
    {{> header accounts=accounts}}
    {{> notifications}}

    {{> createpoll}}
    {{> existingpolls polls=polls}}

    {{> vote polls=polls}}
    {{> viewvotes polls=polls}}
  </div>
</body>

<template name="header">
  <div class="row header">
    <div class="col-lg-12">
      <div class="logo">
        <img src="/images/fairvote.svg" height="24px">
      </div>
      <div class="eth-accounts">
        <select class="">
          <option value="" disabled selected>Select ethereum account</option>
          {{#each accounts}}
            <option>{{ address}}</option>
          {{/each}}
        </select>
      </div>
    </div>
  </div>
</template>