<template name="createpoll">
  <div class="section create-poll-section">
    <div class="">
        <div class="section-title">
            <h1>Create a Poll</h1>
        </div>
        <div class="section-body">
            <form class="new-poll">
              <input type="text" class="form-control" name="title" placeholder="Poll title" />
              <select name="pollType" class="form-control select-poll-field">
                <option value="" disabled selected>Select poll type</option>
                <option value="FPTP">First past the post</option>
                <option value="APRV">Approval</option>
                <option value="ALTR">Alternative</option>
              </select>
              <div class="poll-choices">
              <input type="text" class="form-control" name="choice1" placeholder="Poll choice 1" />
              <input type="text" class="form-control" name="choice2" placeholder="Poll choice 2" />
              </div>
              <button class="btn fv-btn add-choice"><i class="fa fa-plus"></i></button>
              <button class="btn fv-btn fv-btn-delete remove-choice"><i class="fa fa-minus"></i></button>
              <input type="text" class="form-control" name="maxVoters" placeholder="Maximum voters" />
              <div class="input-group datetimepicker">
                <input type="text" class="form-control" name="finishDate" placeholder="Select finish date" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
              <button class="btn fv-btn">Create Poll</button>
            </form>
        </div>
    </div>
  </div>
</template>

<template name="existingpolls">
  <div class="section">
    <div class="">
        <div class="section-title">
          <h1>Existing Polls</h1>
        </div>
        <div class="section-body existing-polls-section">
          <ul class="all-polls row">
            {{#each polls}}
              {{> poll}}
            {{else}}
              <h3>No polls currently exist. Create one!</h3>
            {{/each}}
          </ul>
        </div>
    </div>
  </div>
</template>

<template name="poll">
  <div class="col-md-4">
    <li class="poll-container">
      <h4><strong>{{title}}</strong></h4>
      <div class="poll-info">
        <div class="poll-info-field">
          <label class="label label-primary">{{getFullPollTypeName pollType}}</label>
        </div>
        {{#if maxVotesReached}}
        <div class="poll-info-field">
          <label class="label label-danger">Maximum votes reached</label>
        </div>
        {{else}}
        <div class="poll-info-field">
          <label class="">{{numBallotsReceived}}/{{maxVoters}} ballots received</label>
        </div>
        {{/if}}
        {{#if contract}}
          {{#if pollIsActive }}
          <div class="poll-info-field">
            <label class="label label-primary">{{getPollStatus pollIsActive}}</label>
          </div>
          {{else}}
          <div class="poll-info-field">
            <label class="label label-danger">{{getPollStatus pollIsActive}}</label>
          </div>
          {{/if}}
        {{else}}
          <div class="poll-info-field">
            <label class="label label-danger">Waiting to be mined...</label>
          </div>
        {{/if}}
        <div class="poll-info-field">
          {{#if pollFinishDateReached }}
          <label class="label label-danger">Finish date reached</label>
          {{else}}
          <label class="">Closes {{getFinishDate}}</label>
          {{/if}}
        </div>
      </div>
      <div class="poll-buttons">
        {{#if contract}}
          {{#if voted}}
            <div class="poll-info-field">
              <label class="">You have voted on this poll</label>
            </div>
          {{else}}
            <button class="btn fv-btn vote-poll">Vote</button>
          {{/if}}
          <button class="btn fv-btn view-poll">View</button>
          {{#if canDeletePoll account}}
            <button class="btn fv-btn fv-btn-delete delete-poll">Delete</button>
          {{else}}
            <button class="btn fv-btn fv-btn-delete delete-poll disabled">Delete</button>
          {{/if}}
        {{else}}
          <button class="btn fv-btn vote-poll disabled">Vote</button>
          <button class="btn fv-btn view-poll disabled">View</button>
          <button class="btn fv-btn fv-btn-delete delete-poll disabled">Delete</button>
        {{/if}}
      </div>
    </li>
  </div>
</template>