<template name="createpoll">
  <div class="section create-poll-section">
    <div class="">
        <div class="section-title">
            <h1>Create a Poll</h1>
        </div>
        <div class="section-body">
            <form class="new-poll">
              <input type="text" class="form-control" name="title" placeholder="Poll Title" />
              <select name="polltype" class="form-control select-poll-field">
                <option value="" disabled selected>Select poll type</option>
                <option value="FPTP">First past the post</option>
                <option value="APRV">Approval</option>
              </select>
              <div class="poll-choices">
              <input type="text" class="form-control" name="choice1" placeholder="Poll Choice 1" />
              <input type="text" class="form-control" name="choice2" placeholder="Poll Choice 2" />
              </div>
              <button class="btn add-choice"><i class="fa fa-plus"></i></button>
              <button class="btn btn-delete remove-choice"><i class="fa fa-minus"></i></button>
              <input type="text" class="form-control" name="maxVotes" placeholder="Maximum Votes" />
              <button class="btn">Create Poll</button>
            </form>
        </div>
    </div>
  </div>
</template>

<template name="existingpolls">
  <div class="section">
    <div class="">
        <div class="section-title">
          <h1>Existing Polls</h1>
        </div>
        <div class="section-body existing-polls-section">
            <ul class="all-polls row">
              {{#each polls}}
                {{> poll}}
              {{else}}
                <h3>No polls currently exist. Create one!</h3>
              {{/each}}
            </uL>
        </div>
    </div>
  </div>
</template>

<template name="poll">
  <div class="col-md-4">
    <li class="poll-container">
      <h4><strong>{{title}}</strong></h4>
      Type: {{pollType}}<br>
      Votes received: 7<br>
      Maximum votes: {{maxVotes}}<br>
      Active: {{active}}<br>
      Choices: {{choices}}<br>
      Address: {{contract.address}}<br>
      <button class="btn vote-poll">Vote</button>
      <button class="btn view-poll">View</button>
      {{#if canDeletePoll account}}
      <button class="btn btn-delete delete-poll">Delete</button>
      {{/if}}
    </li>
  </div>
</template>